
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script');

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// main.styl
// @import '~vuetify/dist/vuetify.min';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

body{
  background-image: url('../image/fundo3.jpg') !important;
  background-repeat: repeat-x;
  font-size: 13px;
  // min-width:600px;
}
.font{
  font-family: 'Kaushan Script', cursive;
}
// /* ---------------------------------------------------
//   LOGIN STYLE
// ----------------------------------------------------- */

.fundo{
  height: 50vh;
  width: 100%;
}

// /* ---------------------------------------------------
//   SIDEBAR STYLE
// ----------------------------------------------------- */
.wrapper {
  display: flex;
  align-items: stretch;
}

// /* ---------------------------------------------------
//   CONTENT STYLE
// ----------------------------------------------------- */
#content {
  width: 100%;
  padding: 0px;
  min-height: 100vh;
  transition: all 0.3s;
}

// /* ---------------------------------------------------
//   SCROLLBAR STYLE
// ----------------------------------------------------- */
::-webkit-scrollbar-track{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
	background-color: transparent;
	border-radius: 10px;
}

::-webkit-scrollbar{
	width: 6px;
	background-color: transparent;
}

::-webkit-scrollbar-thumb{
	border-radius: 10px;
	background-color: #FFF;
  background-image: -webkit-linear-gradient(top, 
                              rgba(149,149,149,1) 0%,
                              rgba(13,13,13,1) 46%,
                              rgba(1,1,1,1) 50%,
                              rgba(10,10,10,1) 53%,
                              rgba(78,78,78,1) 76%,
                              rgba(56,56,56,1) 87%,
                              rgba(27,27,27,1) 100%);
}


// /* ---------------------------------------------------
//   TABLE ICON STYLE
// ----------------------------------------------------- */
.btn-icon {
  cursor: pointer;
}
.btn-icon:hover {
  color: #179910;
}