
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script');

// Variables
@import "variables";

// Bootstrap
@import '~vue-multiselect/dist/vue-multiselect.min.css';
@import '~bootstrap/scss/bootstrap';
@import '~vuetify/dist/vuetify.min.css';
@import '~@fortawesome/fontawesome-free/css/all.css';

// main.styl
// @import '~vuetify/dist/vuetify.min';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

body{
  background-image: url('../image/fundo3.jpg') !important;
  background-color: #fff !important;
  background-repeat: repeat-x;
  font-size: 13px;
  // min-width:600px;
}
.font{
  font-family: 'Kaushan Script', cursive;
}
// /* ---------------------------------------------------
//   LOGIN STYLE
// ----------------------------------------------------- */

.fundo{
  height: 50vh;
  width: 100%;
}

// /* ---------------------------------------------------
//   SIDEBAR STYLE
// ----------------------------------------------------- */
.wrapper {
  display: flex;
  align-items: stretch;
}

// /* ---------------------------------------------------
//   CONTENT STYLE
// ----------------------------------------------------- */
#content {
  width: 100%;
  padding: 0px;
  min-height: 100vh;
  transition: all 0.3s;
}

// /* ---------------------------------------------------
//   SCROLLBAR STYLE
// ----------------------------------------------------- */
::-webkit-scrollbar-track{
	box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
	background-color: transparent;
	border-radius: 10px;
}

::-webkit-scrollbar{
	width: 6px;
	background-color: transparent;
}

::-webkit-scrollbar-thumb{
	border-radius: 10px;
	background-color: #FFF;
  background-image: -webkit-linear-gradient(top, 
                              rgba(149,149,149,1) 0%,
                              rgba(13,13,13,1) 46%,
                              rgba(1,1,1,1) 50%,
                              rgba(10,10,10,1) 53%,
                              rgba(78,78,78,1) 76%,
                              rgba(56,56,56,1) 87%,
                              rgba(27,27,27,1) 100%);
}


// /* ---------------------------------------------------
//   TABLE ICON STYLE
// ----------------------------------------------------- */
.btn-icon,
.btn-icon a {
  text-decoration: none;
  cursor: pointer;
  color: black;
}
.btn-icon:hover,
.btn-icon:hover a {
  color: #179910;
}

// /* ---------------------------------------------------
//   CURSOR
// ----------------------------------------------------- */
.hover:hover {
  cursor: pointer;
}

// /* ---------------------------------------------------
//   ERROR
// ----------------------------------------------------- */
.erro {
  color: crimson;
}

// /* ---------------------------------------------------
//   TOOLTIP
// ----------------------------------------------------- */
.tooltip {
  display: block !important;
  z-index: 10000;

  .tooltip-inner {
    background: black;
    color: white;
    border-radius: 16px;
    padding: 5px 10px 4px;
  }

  .tooltip-arrow {
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    margin: 5px;
    border-color: black;
    z-index: 1;
  }

  &[x-placement^="top"] {
    margin-bottom: 5px;

    .tooltip-arrow {
      border-width: 5px 5px 0 5px;
      border-left-color: transparent !important;
      border-right-color: transparent !important;
      border-bottom-color: transparent !important;
      bottom: -5px;
      left: calc(50% - 5px);
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &[x-placement^="bottom"] {
    margin-top: 5px;

    .tooltip-arrow {
      border-width: 0 5px 5px 5px;
      border-left-color: transparent !important;
      border-right-color: transparent !important;
      border-top-color: transparent !important;
      top: -5px;
      left: calc(50% - 5px);
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &[x-placement^="right"] {
    margin-left: 5px;

    .tooltip-arrow {
      border-width: 5px 5px 5px 0;
      border-left-color: transparent !important;
      border-top-color: transparent !important;
      border-bottom-color: transparent !important;
      left: -5px;
      top: calc(50% - 5px);
      margin-left: 0;
      margin-right: 0;
    }
  }

  &[x-placement^="left"] {
    margin-right: 5px;

    .tooltip-arrow {
      border-width: 5px 0 5px 5px;
      border-top-color: transparent !important;
      border-right-color: transparent !important;
      border-bottom-color: transparent !important;
      right: -5px;
      top: calc(50% - 5px);
      margin-left: 0;
      margin-right: 0;
    }
  }

  &[aria-hidden='true'] {
    visibility: hidden;
    opacity: 0;
    transition: opacity .15s, visibility .15s;
  }

  &[aria-hidden='false'] {
    visibility: visible;
    opacity: 1;
    transition: opacity .15s;
  }
}


// /* ---------------------------------------------------
//   CHECKBOX RADIO BUTTON
// ----------------------------------------------------- */
.check {
  position: relative;
  padding-left: 25px;
  padding-bottom:  5px;
  padding-right: 15px;
  cursor: pointer;
  font-size: 13px !important;
  user-select: none;
}

.check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: #fff ;
  border-color:#179910;
  border-style:solid;
  border-width:2px;
}

.check input:checked ~ .checkmark {
  background-color: #fff  ;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.check input:checked ~ .checkmark:after {
  display: block;
}

.check .checkmark:after {
  left: 5px;
  top: 1px;
  width: 5px;
  height: 10px;
  border: solid ;
  border-color:#179910;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}
